
@font-face {
  font-family: 'Tahoma';
  src: url('/attached_assets/Tahoma.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tahoma';
  src: url('/attached_assets/Tahoma-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
